# Server
PORT=8080
ENV=development

# PostgreSQL
POSTGRES_URL=postgres://user:password@localhost:5432/chug?sslmode=disable

# Redis
REDIS_URL=redis://localhost:6379

# Cloudflare R2
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_ACCESS_KEY_SECRET=
R2_BUCKET_NAME=chug-uploads
R2_PUBLIC_URL=

# Queue
QUEUE_NAME=uploads:default
WORKER_CONCURRENCY=5

# Auth
API_KEY=your_api_key_here
API_KEY_HASH_SECRET=your_api_key_hash_secret_here
GOTOOLCHAIN=go1.22.2
